.main {
	position: fixed;
	width: 100%;
	height: 6rem;
	z-index: 10;
	background-color: var(--background);
}

.main-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.main_logo a {
	color: var(--fontMain);
	font-size: var(--font-h3);
	text-decoration: none;
}

.main_nav {
	width: auto;
	height: 100%;
}

.main_nav ul {
	display: flex;
	width: auto;
	height: 100%;
	list-style: none;
}

.main_nav ul li {
	width: auto;
	height: 100%;
}

.main_nav li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100%;
	padding: 0 2rem;
	color: var(--fontMain);
	text-decoration: none;
	cursor: pointer;
}

.main_nav li a:hover {
	background-color: var(--colorThird);
}

.main_nav li a svg {
	width: 4rem;
	height: 4rem;
}

.main_menu {
	display: none;
}
