:root {
	--width: 90%;
	--max-width: 1100px;
	--border-radius: 0.2rem;

	--font-family: 'Roboto Condensed', sans-serif;

	--colorMain: #14213d;
	--colorMainS: #0e172b;
	--colorSecond: #fca311;
	--colorSecondS: #dd8f13;
	--colorThird: #e5e5e5;
	--colorThirdS: #c0c0c0;

	--fontMain: #000814;
	--fontSecond: #2b2d42;
	--fontLight: #e5e5e5;

	--font-h1: 4.2rem;
	--font-h2: 3.2rem;
	--font-h3: 2.4rem;
	--font-size: 1.8rem;

	--background: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	color: var(--fontMain);
	transition: all 0.3s;
}

html {
	font-size: 62.5%;
}

body {
	font-size: var(--font-size);
	background-color: var(--background);
}

h1 {
	font-size: var(--font-h1);
	letter-spacing: -0.3rem;
}

h2 {
	font-size: var(--font-h2);
}

h3 {
	font-size: var(--font-h3);
}

.display-limit {
	width: var(--width);
	max-width: var(--max-width);
	height: auto;
	margin: 0 auto;
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
} */
