.main_hero {
	display: flex;
	height: 65rem;
}

.hero_title {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.hero_title h1 strong {
	font-size: 7.2rem;
	line-height: 6rem;
	color: var(--colorMain);
}

.hero_title h2 {
	margin-top: 1rem;
}

.hero_title h3 {
	width: 75%;
	margin-top: 4rem;
	font-weight: 400;
}

.hero_title a {
	margin-top: 4rem;
}

.hero_image {
	width: 100%;
	height: 100%;
}

.hero_image .image-cont {
	position: relative;
	width: 100%;
	height: 100%;
}

.image-cont img {
	object-fit: contain;
	object-position: center;
}

.main_services {
	background-color: var(--colorMain);
	color: var(--fontLight);
}

.services_tech {
	padding: var(--paddingY) 0;
}

.tech_title h2 {
	background-color: var(--colorMain);
}

.tech_title span {
	background-color: var(--fontLight);
}

.services_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--paddingY) 0;
}

.services_title h2 {
	width: 40%;
	font-size: var(--font-h1);
}

.services_title p {
	width: 40%;
}

.services_slider {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 2rem;
	padding-bottom: var(--paddingY);
	overflow-x: auto;
}

.service_slide {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 4rem;
	width: 100%;
	min-width: 34rem;
	height: auto;
	padding: 2rem;
	border-top: 0.1rem solid var(--fontSecondL);
	border-bottom: 0.1rem solid var(--fontSecondL);
	/* border-radius: var(--border-radius); */
	transition: all 0.3s;
	cursor: default;
}

.service_slide:hover {
	background-color: var(--fontSecondL);
}

.service_slide h3 {
	font-weight: 300;
	letter-spacing: 1rem;
}

.service_slide svg {
	width: 8rem;
	height: 8rem;
}

.main_projects {
	padding: var(--paddingY) 0;
}

.main_projects > a {
	margin: 0 auto;
	margin-top: var(--paddingY);
}

.projects_title-cont {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-bottom: var(--paddingY);
}

.projects_title-cont p {
	margin-top: 2rem;
}

.projects_title h2 {
	background-color: var(--background);
}

.projects_title span {
	background-color: var(--fontMain);
}

.projects_list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 2rem;
	width: 100%;
	height: auto;
}

.main_contact {
	padding: var(--paddingY) 0;
}

.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: var(--paddingY) 0;
}

.contact_title {
	width: 40%;
	font-size: var(--font-h1);
}

.contact_text {
	width: 40%;
}

.contact_text a {
	margin-top: 2rem;
}
