.main-cont {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background-alpha);
	z-index: 10;
}

.main {
	position: relative;
	display: flex;
	width: 70%;
	height: auto;
	max-height: 90vh;
	padding: 4rem;
	background-color: var(--background);
	border-radius: var(--border-radius);
	overflow-y: auto;
}

.main > svg {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
}

.main_content {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: auto;
}

.content_image {
	position: relative;
	width: 100%;
	height: 30rem;
	padding: 2rem 2rem 0;
	background-color: var(--colorThird);
	border-radius: var(--border-radius);
}

.content_image span {
	position: absolute;
	top: calc(50% - 2rem);
	width: 4rem;
	height: 4rem;
	color: var(--colorThird);
	cursor: pointer;
	z-index: 1;
}

.content_image span:nth-child(1) {
	left: 0;
}

.content_image span:nth-child(2) {
	right: 0;
}

.content_image span svg {
	width: 100%;
	height: 100%;
	color: white;
	filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--fontSecond));
}

.image-cont {
	position: relative;
	width: 100%;
	height: 100%;
}

.image-cont img {
	object-fit: cover;
	object-position: top;
	aspect-ratio: 1;
	z-index: 0;
}

.content_info {
	padding-top: 2rem;
}

.content_info h3 {
	color: var(--colorThirdS);
}

.main_info {
	width: 40%;
	padding-left: 4rem;
}

.main_info h3 {
	margin-top: 2rem;
}

.main_info h3:first-child {
	margin-top: 0;
}

.main_info a {
	margin-top: 1rem;
}

@media (max-width: 1024px) {
	.main {
		width: 90%;
	}

	.main_info a {
		width: auto;
	}
}

@media (max-width: 600px) {
	.main {
		flex-direction: column;
	}

	.main_content {
		width: 100%;
		padding-top: 2rem;
	}

	.main_info {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		padding: 0;
		padding-top: 2rem;
	}
}

@media (max-width: 480px) {
	.main {
		padding: 2rem;
		padding-top: 4rem;
	}
	.main_info {
		grid-template-columns: 1fr;
	}
}
